@{
    ViewData["Title"] = "Home Page";
}

<div aurelia-app="boot" style="height: 100%;">Loading...</div>

@section scripts {
    <script type="text/javascript" src="~/dist/vendor.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/dist/app.js" asp-append-version="true"></script>
    <script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>
}
