<template>
    <require from="../navmenu/navmenu"></require>
    <require from="./app.css"></require>
    <div class="wrapper">
        <navmenu router.bind="router"></navmenu>
        <div class="content">
            <router-view></router-view>
        </div>
    </div>
</template>
