@import url('https://fonts.googleapis.com/css?family=Raleway:400,400i,700,700i');

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}

:root {
	--padding-side: 50px;
}

html, body {
	height: 100%;
	width: 100%;
	margin: 0px;
	padding: 0px;
}

body {
	background: #FEFEFE;
	font-family: 'Raleway', sans-serif;
}

button {
	position: relative;
	display: flex;
	flex-flow: row;
	align-items: center;
	justify-content: center;
	min-height: 30px;
	min-width: 75px;
	background:	rgb(255, 234, 148);
	border: 1px solid #FADA5E;
	border-top: 0px;
	border-bottom: 3px solid #FADA5E;
	border-radius: 5px;
	outline: none;
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	overflow: hidden;
	cursor: pointer;
}

button:hover {
	background: rgb(255, 232, 140);
}

button:active {
	border-bottom: 1px solid #FADA5E;
}

.wrapper {
	display: flex;
	flex-flow: column;
	height: 100%;
}

.wrapper navmenu {
	flex: 0;
}

.wrapper .content {
	padding: 25px var(--padding-side);
	flex: 1;
}
