<template>
    <require from="./weather.css"></require>
    <div class="no-weather" if.bind="!weatherReport">
        <div class="warning">
            <img class="sad-sun" src="/resources/images/sun_sad.svg" alt="Sad Sun" />
            <div>
                <h3>Looks like there is no weather to report!</h3>
                <p>Here is a pretty sunny picture instead.</p>
            </div>
        </div>
        <img class="hero" src="/resources/images/malta_luzzu.jpg" alt="Maltese Luzzu" />
    </div>
    <div class="weather" if.bind="weatherReport">
        <div class="weather-status">
            <img class="condition" src.bind="'/resources/images/weather/' + icon + '.svg'" alt="Condition" />
            <p class="temperature">${weatherReport.temperature}&deg;C</p>
            <div class="wind">
                <div>
                    <div class="compass" css="transform: rotate(${compassPointerRotation}deg);" if.bind="!isVariable">&#10148;</div>
                    <p if.bind="isVariable">Variable Wind</p>
                </div>
                <p style="text-align: center;">${weatherReport.windSpeed} km/h</p>
            </div>
        </div>
        <p class="location">${weatherReport.location}</p>
    </div>
    <div class="daily-image" css="${image ? 'background-image: url(\'data:image/*;base64, ' + image + '\');' : ''}" if.bind="image || isAdmin">
        <img class="placeholder" src="/resources/images/picture.svg" alt="Placeholder" if.bind="!image" />
        <div class="overlay" click.delegate="updateImage($event)" if.bind="isAdmin"></div>
    </div>
    <input type="file" accept="image/*" style="display: none;" ref="file" />
</template>
