.weather, .no-weather {
	flex: 1;
}

.no-weather {
	display: flex;
	flex-flow: column;
}

.no-weather .warning {
	display: flex;
	flex-flow: row;
	justify-content: center;
	align-items: center;
}

.no-weather .sad-sun {
	height: 20vh;
	margin: 50px;
}

.no-weather .hero {
	position: relative;
	left: calc(var(--padding-side) * -1);
	width: 100vw;
	height: 50vh;
	object-fit: cover;
}
.weather {
	display: flex;
	flex-flow: column;
}

.weather .weather-status {
	display: flex;
	flex-direction: row;
	padding: 100px;
	background: rgba(0, 200, 255, 0.1);
}

.weather .condition {
	width: 35vw;
	min-height: 35vh;
	max-height: 50vh;
	object-fit: contain;
}
.weather .temperature {
	font-size: 25vh;
	font-weight: 700;
	margin: 50px;
}

.weather .wind {
	min-width: 10vw;
	margin: 50px;
	font-size: 50px;
}

.weather .wind .compass {
	display: inline-block;
	background: #E3E3E3;
	height: 10vw;
	width: 10vw;
	line-height: 10vw;
	border: 0px;
	border-radius: 50%;
	font-size: calc(10vw * 0.5);
	text-align: center;
	color: #ff6961;
}

.weather .location {
	text-align: right;
	font-size: 50px;
	margin: 0px;
	padding: 20px 50px;
	background: rgba(0, 200, 255, 0.2);
}

.daily-image {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 500px;
	width: 100%;
	background: rgba(0, 0, 0, 0.1);
	background-size: cover;
}

.daily-image .placeholder {
	height: 150px;
	width: 150px;
}

.daily-image .overlay {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
}

.daily-image .overlay:hover {
	background: rgba(0, 0, 0, 0.25);
	cursor: pointer;
}
