<template bindable="router">
	<require from="./navmenu.css"></require>
	<require from="../authentication/authentication"></require>
	<div class="nav">
		<a class="nav-brand" href="#/home"><img src="/resources/images/sun.svg" alt="Weather"/></a>
		<ul class="nav-items">
			<li repeat.for="row of router.navigation" class="${ row.isActive ? 'link-active' : '' }" >
				<a href.bind="row.href">${ row.title }</a>
			</li>
		</ul>
		<authentication if.bind="!hasToken"></authentication>
		<button if.bind="hasToken" click.delegate="logout()">Logout</button>
	</div>
</template>
