.nav {
	display: flex;
	width: 100%;
	flex-flow: row;
	background: #fdfd96;
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1)
}

.nav .nav-brand {
	height: 100%;
	padding: 15px;
}

.nav .nav-brand:hover {
	animation: rotation 3s infinite linear;
}

.nav .nav-brand img {
	height: 35px;
	width: 35px;
	object-fit: contain;
}

.nav .nav-items {
	display: flex;
	flex: 1;
	flex-flow: row;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

.nav .nav-items, .nav .nav-items a {
	color: black;
	text-decoration: none;
}

.nav .nav-items li {
	height: 100%;
	padding: 10px;
	box-sizing: border-box;
	font-weight: 700;
}

.nav .nav-items li:hover {
	background: rgba(0, 0, 0, 0.1)	;
}

.nav .nav-items li a {
	display: flex;
	height: 100%;
	align-items: center;
}

.nav authentication {
	flex: 0;
	margin: 0px 25px;
	align-self: center;
}

.nav button {
	height: 40px;
	margin: 0px 25px;
	align-self: center;
}
